<h1>Attacks</h1>

<p class="btn--wrapper">
  <a class="btn btn--action" href="/attacks/new">New attack!</a>
</p>

<ul>
  <% for attack in @attacks %>
  <li>
  <p><%= attack.wizard.name %> <%= @actions.sample %> <%= attack.codeclanner.name %></p>

    <p>
      <form action="/attacks/<%= attack.id %>/delete" method="POST">
        <input class="btn btn--danger" type="submit" value="delete" />
      </form>
    </p>
  </li>
  <% end %>
</ul>
