

<h1>Testimonials</h1>
<%# NOT ACTIVE! This will be upgrated to proper functionality %>
<% if false %>
<form class="" action="/testimonials" method="post">
  <div class="codeclanner-input">
  <div class="codeclanner-label">
    <label  for="name">Name: </label>
  </div>
    <input id="name" type="text" name="name"/>
  </div>
</br>
<div class="codeclanner-input">
  <div class="codeclanner-label">

    <label class="codeclanner-label" for="cohort">email: </label>
  </div>
<input id="Email" type="text" name="Email"/>
</div>
</br>
<div class="codeclanner-input">
  <div class="codeclanner-label">

    <label class="codeclanner-label" for="cohort">message: </label>
  </div>
<input id="message" type="text" name="message"/>
</div>
</br>
<% end %>

<input type="submit" value="Owl Postal Service">
<%# Submit button Need to send the message to emil_vaklinov@yahoo.com %>

</form>


<p> Submit form may come soon!</p>
<p> emil_vaklinov[at]yahoo.com</p>
