body {
  background-image: url('/images/background.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  color: papayawhip;
  font-family: 'Merriweather', serif;
  padding: 0px;
  margin: 0px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Special Elite', cursive;
  margin: 0px;
  padding: 0px;
}

h1 {
  font-size: 1.8em;
  color: red;
  margin-bottom: 20px;
}

/* a, a:link, a:visited { */
a {
  color: #a2937e;
  text-decoration: none;
}
/* .borders {
  padding: 2px;
  border: 1px white solid;
} */
a:hover, a:active, a:focus {
  color: #c6e2ff;
}

nav {
  padding: 0px;
  margin: 0px;
  padding-right: 25px;
}

nav ul li {
  margin-bottom: 15px;
  text-transform: uppercase;
}

ul {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

main {
  padding: 25px;
}

.flex {
  display: flex;
}

.flex--row {
  flex-direction: row;
}

#content {
  border-left: 3px solid red;
  padding-left: 25px;
}

.attack-list{
  width: 200px;
  margin-right: 50px;
}
