<!DOCTYPE html>
<html>
<head>
  <title>War of Wizards</title>
  <link href="https://fonts.googleapis.com/css?family=Merriweath|Special+Elite" rel="stylesheet">

  <link rel="icon" href="/images/logo.png" />

  <link rel="stylesheet" type="text/css" href="/style/buttons.css">
  <link rel="stylesheet" type="text/css" href="/style/forms.css">
  <link rel="stylesheet" type="text/css" href="/style/structure.css">
  <link rel="stylesheet" type="text/css" href="/style/tables.css">
</head>
<body>
<main class="flex flex--row">
  <nav>
    <ul>
      <li>
        <a class="borders" href="/wizards">Wizards</a>
      </li>
      <li>
        <a href="/codeclanners">Codeclanners</a>
      </li>
      <li>
        <a href="/codeclanners/new">Add codeclanner</a>
      </li>
      <li>
        <a href="/attacks">Attacks</a>
      </li>
      <li>
        <a href="/codeclanners/about">About the game</a>
      </li>
      <li>
        <a href="/testimonials/testimonials">Testimonials</a>
      </li>
    </ul>
  </nav>
  <section id="content">
  <%= yield %>
  </section>
  </main>
</body>
</html>
