<p> This game was created as a project by Emil Vaklinov, student at Codeclan, cohort E23. Edinurgh as a Ruby/SQL/Sinatra project.

To be created the game was used all learned methods during the first 4 weeks of the studding! </p>

<!-- <form class="" action="/testimonials" method="post">
<label for="testimonials">Testimonials: </label>
  <input id="testimonials" type="text" testimonials="testimonials"/>
</br>


<input type="submit" value="Add codeclanner">
</form> -->
