<p> This game was created by Emil Vaklinov, a student at Codeclan cohort E23(Edinburgh). It's a Ruby/PostgreSQL/HTML/Sinatra solo project.</p>
<p> To create the game, I used all of the things that I learned during the first 4 weeks of studying! </p>

<p> This is the trial version - 25 of July 2018. </p>

<p> "This War is between the new codewizards at CodeClan academy and the dark side of Hogwarts wizardry school.</p>
<p> Lord Valdemort wants to control the codebase system to get into the Castle of the CodeClanners to enslave them.</p>
<p> Luckily, the spells only lasted 10 seconds!”!</p>
<p> We can't escape... We have to fight!!!</p>
