<!-- <h1>Add codeclanner</h1>

<form class="" action="/codeclanners" method="post">
<label for="name">Name: </label>
  <input id="name" type="text" name="name"/>
</br>

<label for="kohort">Kohort: </label>
  <input id="kohort" type="text" name="kohort"/>
</br>

<label for="codeclanner_select">Select Codeclanner:</label>
<select name="codeclanner_id" id="codeclanner_select">
  <% for codeclanner in @codeclanners %>
    <option value="<%= codeclanner.id()%>" ><%= codeclanner.name() %></option>
  <% end %>
</select>
<br />

<input type="submit" value="Add codeclanner">
</form> -->
