<h1>Add Codeclanner</h1>

<form class="" action="/codeclanners" method="post">
<label for="name">Name: </label>
  <input id="name" type="text" name="name"/>
</br>

<label for="cohort">Cohort: </label>
  <input id="cohort" type="text" name="cohort"/>
</br>



<input type="submit" value="Add codeclanner">
</form>
