<h1><%= @codeclanner.name %> (codeclanner)</h1>

<p>Kohort: <%= @codeclanner.kohort %></p>

<h3>Attacked by:</h3>

<ul>
  <% @codeclanner.wizards.each do |wizard| %>
  <li><%= wizard.name %></li>
  <% end %>
</ul>
