<h1><%= @codeclanner.name %> (codeclanner)</h1>

<p>Cohort: <%= @codeclanner.cohort %></p>

<h3>Attacked by:</h3>

<ul>
  <% @codeclanner.wizards.each do |wizard| %>
  <li><%= wizard.name %></li>
  <% end %>
</ul>

<p>
  <form action="/codeclanners/<%= @codeclanner.id %>/delete" method="POST">
    <input class="btn btn--danger" type="submit" value="Delete" />
  </form>
</p>
