<p> This game was created as a project by Emil Vaklinov student at Codeclan cohort E23, Edinurgh as a Ruby/PSQL/HTML/Sinatra project.</p>
<p> To be created the game was used all learned methods during the first 4 weeks of the studing! </p>

<p> Trial not full version! 25 of July 2018 </p>

<p> "This War is bettwen the new students at Codeclan academy(new code wizards) and the Hoguards wizardry school.</p>
<p> Lord Valdemort wants to control the all codebase system and traying to get into the Castle of the Codeclanners and slavering them!"</p>
