<h1>Wizard <%= @wizard.name %></h1>

<p>House: <%= @wizard.house %></p>
<p>Wand: <%= @wizard.wand %></p>

<h3>Codeclanners:</h3>

<ul>
  <% @wizard.codeclanners.each do |codeclanner| %>
  <li><%= codeclanner.name %></li>
  <% end %>
</ul>
